<!--!BENEFITS START-->
<section class="benefits">
    <div class="benefits__wrapper">
        <h2 class="benefits__title">
            Benefits of Odigo
        </h2>
        <div class="benefits__grid-of-cards">
            <div class="benefits__card">
                <div class="benefits__card-pic">
                    <img src="{{ './assets/img/Icon-temple.png'|theme }}" alt="Benefits of Odigo" class="benefits__card-icon">
                </div>
                <!--*title-->
                <h3 class="benefits__card-title">Welcome to Odigo!</h3>
                <!--*description-->
                <p class="benefits__card-desc">Jump off balcony, onto stranger's head. Chase ball of string hide
                    when guests come over.</p>
                <!--*link-->
                <a href="#!" class="benefits__card-link">LEARN MORE</a>
            </div>
            <div class="benefits__card">
                <div class="benefits__card-pic">
                    <img src="{{ './assets/img/Icon-main.png'|theme }}" alt="Benefits of Odigo" class="benefits__card-icon">
                </div>
                <h3 class="benefits__card-title">Your Personal Japan Guide</h3>
                <p class="benefits__card-desc">Jump off balcony, onto stranger's head. Chase ball of string hide
                    when guests come over.</p>
                <a href="#!" class="benefits__card-link">LEARN MORE</a>
            </div>
            <div class="benefits__card">
                <div class="benefits__card-pic">
                    <img src="{{ './assets/img/Icon-store.png'|theme }}" alt="Benefits of Odigo" class="benefits__card-icon">
                </div>
                <h3 class="benefits__card-title">Promoting Local Businesses</h3>
                <p class="benefits__card-desc">Jump off balcony, onto stranger's head. Chase ball of string hide
                    when guests come over.</p>
                <a href="#!" class="benefits__card-link">LEARN MORE</a>
            </div>
        </div>
    </div>
</section>
<!--!BENEFITS END-->