 <!--!FOOTER START-->
 <footer class="footer">
    <div class="wrapper">
        <div class="footer__item">
            <div class="left">
                <a href="/" class="footer__logo-link">
                    <img src="{{ './assets/img/svg/footer-logo.svg'|theme }}" alt="logo" class="footer__logo-pic header__logo-pic">
                </a>
            </div>
            <nav class="right">
                <ul class="footer__list"> Company
                    <li><a href="#!">Company</a></li>
                    <li><a href="#!">Company</a></li>
                    <li><a href="#!">Company</a></li>
                    <li><a href="#!">Company</a></li>
                    <li><a href="#!">Company</a></li>
                </ul>
                <ul class="footer__list"> Locations
                    <li><a href="#!">Company</a></li>
                    <li><a href="#!">Company</a></li>
                    <li><a href="#!">Company</a></li>
                    <li><a href="#!">Company</a></li>
                    <li><a href="#!">Company</a></li>
                </ul>
                <ul class="footer__list"> Social Media
                    <li><a href="#!">Company</a></li>
                    <li><a href="#!">Company</a></li>
                    <li><a href="#!">Company</a></li>
                    <li><a href="#!">Company</a></li>
                    <li><a href="#!">Company</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<!--!FOOTER END-->